@font-face {
  font-family: ravi;
  src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: ravi;
  font-weight: 100;
  src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: ravi;
  font-weight: 200;
  src: url(./NeueHaasDisplayRoman.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ravi;
}

html,
body {
  height: 100%;
  width: 100%;
}

.paje1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  /* background-color: red; */
  position: relative;
  padding: 0 2vw;
  overflow-x: hidden;
}

nav {
  padding: 2vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid rgb(200, 182, 182);
  border-radius: 50px;
  font-weight: 500;
  color: black;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

.nav-part2 h4::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

.nav-part2 h4 a {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}
.nav-part2 h4:hover a {
  color: white;
}

/* *****************    paje 1 ka middle **************** */

.center {
  height: 81vh;
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 4vw;
}

.left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}
.right h1 {
  font-size: 10.5vw;
  line-height: 8.5vw;
  text-align: right;
}
.right {
  margin-right: 1vw;
}

/********************* video *************** */

video {
  position: relative;
  width: 100%;
  margin-top: 4vw;
  border-radius: 30px;
}

/*************** udne wala gola ******** */

.hero-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;

  right: 0;
  top: 82vh;
  /* filter: blur(20px); */
}

.hero1 {
  height: 100%;
  width: 100%;
  background-color: #fe330a;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(25px);
  position: absolute;
}

.hero2 {
  height: 30vw;
  width: 30vw;
  background: linear-gradient(#fe330a, #fe570a);

  /* background-color: white; */
  border-radius: 50%;
  filter: blur(20px);
  position: absolute;
  animation-name: anime2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.hero3 {
  height: 30vw;
  width: 30vw;
  background: linear-gradient(#fe330a, #fe570a);
  /* background-color: black; */

  border-radius: 50%;
  filter: blur(25px);
  position: absolute;
  animation-name: anime1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
/*55 -10 0 10 .. 5 -10 -20 10 */

@keyframes anime1 {
  from {
    transform: translate(100%, -10%); /* Adjusted values */
  }
  to {
    transform: translate(-20%, 10%); /* Adjusted values */
  }
}

@keyframes anime2 {
  from {
    transform: translate(120%, -10%); /* Adjusted values */
  }
  to {
    transform: translate(0%, 10%); /* Adjusted values */
  }
}

/**********   marqee effect **********/

.paje2 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 7vw 0;
  position: relative;
}

.moving-text {
  white-space: nowrap;
  overflow-x: auto;
}

.moving-text::-webkit-scrollbar {
  display: none;
}
.moving-text h1 {
  font-size: 9vw;
  display: inline-block;
}

.gola {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #fe330a;
  display: inline-block;
  margin: 1vw 2vw;
}

.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.paje2-bottom {
  height: 80vh;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vw;
  position: relative;
  z-index: 9;
}

.paje2-bottom h1 {
  font-size: 4vw;
  width: 60%;
  line-height: 4vw;
}
.paje2-bottom-right {
  margin-top: 15vw;
  width: 20%;
  /* background-color: black; */
}
.paje2-bottom-right img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.paje2-bottom-right p {
  font-weight: 200;
  margin-top: 2vw;
  font-size: 1vw;
}

.back-circle {
  height: 32vw;
  width: 32vw;
  position: absolute;
  background: linear-gradient(to top, #fe320a, #ff671b);
  border-radius: 50%;
  top: 55%;
  left: 25%;
  filter: blur(20px);
  animation-name: ghoomja;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes ghoomja {
  from {
    filter: blur(20px);
    transform: translate(10%, -10%) skew(0);
  }
  to {
    filter: blur(30px);
    transform: translate(-10%, 10%) skew(-12deg);
  }
}

/********************   3rd paje  after moving box ******************/

.paje3 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 4vw 0;
}

.elem {
  height: 130px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  border-bottom: 1px solid #38383864;
  overflow: hidden;
  cursor: pointer;
}
.elem h2 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: #ff9831;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.3s;
}
.elem:hover .overlay {
  top: 0;
}
.fixed-image {
  height: 30vw;
  width: 24vw;
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 25%;
  display: none;
  background-size: cover;
  background-position: center;
}

.paje4 {
  height: 70vh;
  width: 100%;
  /* background-color: #efeae3; */
  background-color: yellow;
}

.main {
  position: relative;
}

.paje5 {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: -2;
  background-color: aqua;
}

/***************   last part **********************/

/********************   input wale *****************/

.text-field {
  color: #efeae3;
  background-color: transparent;
  /* border-bottom: 1px #000; */
  /* border-bottom-color: rgba(239, 234, 227, 0.3); */
  border: none;
  padding: 1vw 0;
  font-size: 1vw;
  font-weight: 200;
  line-height: 1.4;
}

.w-input {
  color: #f2cbc0;
  /* background-color: #fff; */
  /* border: 1px solid #ccc; */
  width: 85%;
  height: 38px;
  margin-bottom: 10px;
  /* padding: 16px 12px; */
  font-size: 14px;
  line-height: 1.42857;
}
.w-input:focus {
  outline: none;
  border: none;
}
.w-input::placeholder {
  color: #f2cbc0;
}

.submit-button {
  color: transparent;
  background-color: transparent;
  background-image: url(asliarrow.png);
  background-position: 100%;
  background-size: cover;
  background-attachment: scroll;
  width: 1.75em;
}

.w-button {
  line-height: inherit;
  cursor: pointer;
  border: none;
  padding: 15px 14px;
  text-decoration: none;
  display: inline-block;
  opacity: 70%;
}

/************************   top div ****************/

.footer {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: linear-gradient(to top, black, #fe320a);
  background-color: #fe320a;
  z-index: -1;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0vw 2vw;
}

.footer h1 {
  font-size: 23vw;
  color: #eee9e2;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.footer-top {
  height: 20vh;
  width: 100%;
  color: #f2cbc0;
  /* background-color: red; */
  padding: 0vw 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vw;
}
.footer-bottom {
  border-top: 2px solid #504a45;
  padding: 1vw 0vw;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom h4 {
  color: #eee9e2;
  font-weight: 200;
}

.footer-top-left {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer-top-left h2 {
  font-size: 2vw;
}
.footer-top-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}
.footer-top-right p {
  font-size: 1.2vw;
  font-weight: 200;
}
.footer-top-right-down {
  border-bottom: 1px solid rgba(239, 234, 227, 0.3);
}

/**********************   swiper js ***********************/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

.swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiper-slide:nth-child(3n) {
  width: 20%;
}
